/*Paleta de Cores
Amarelo
Light: #FFFF81
Medium: #FFD54F
Dark: #C8A415

Turquesa
Light: #4fb3bf
Medium: #00838F
Dark: #005662
*/

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #47525E;
}

/* ------ Aquí inicia o header -------*/

.menu{
  background: #FFD54F;
}

.logo-header .logo-mato{
  width: 40%;
}


.logo-header .logo-logotipo{
  width: 55%;
  height: 45%
}

nav a{
  color: #47525E;
  font-size: 1.2em;
  font-weight: 700;
}

nav a:hover, nav a:focus{
  background: #4FB3BF;
  color: #fff;
}

nav #register-link {
  color: #005662;
}

nav #register-link:hover {
  background: none;
}

nav .btn{
  color: #FFF;
  background:#005662;
  border: none;
}

nav .btn:hover, nav .btn:focus{
  background: #4FB3BF;
  color: black;
}

/* Início breadcrumb */
.breadcrumb {
  border-radius: 0;
}

nav .breadcrumb-item-link {
  font-size: 1em;
}

nav .breadcrumb-item-link:hover, nav .breadcrumb-item-link:focus {
  background: #4FB3BF;
  text-decoration: none;
}
/* Fim breadcrumb */

/* Início página login */
.btn-color {
  background-color: #47525E;
  color: #FFF;
}

card {
  border: #47525E;
}

.login-indicator {
  background-color: #FFD54F;
  color: #47525E;
  margin: 0;
}

.triangle-isosceles {
  position: relative;
  padding: 15px;
  color: #000;
  background: #f3961c;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD54F), to(#f3961c));
  background: -moz-linear-gradient(#FFD54F, #f3961c);
  background: -o-linear-gradient(#FFD54F, #f3961c);
  background: linear-gradient(#FFD54F, #f3961c);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.triangle-isosceles:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 20px;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
  display: block;
  width: 0;
}

.btn-register {
  background-color: #4FB3BF;
}
/* Fim página login */

/* Início página Esqueceu a senha? */
.btn-redefine-color {
  background-color: #005662;
  color: #FFF;
}
/* Fim página Esqueceu a senha? */

/* Inicio da página apoio psicológico */ 

.btn-primary{
  background: #005662;
  border: none;
  padding: 1.5vh 2vh;
}

.btn-primary:hover{
  background: #4FB3BF;
}

.support-introduction {
  align-items: center;
  height: 50vh;
  text-align: center;
}

.support-introduction-img img, .support-details-img img, .testimony-img img{
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.support-introduction-text{
  align-content: center;
}

.support-introduction-text h1{
  justify-content: center;
}

.support-details{
  background: #005662;
  height: 50vh;
}

.support-metodology{
  align-items: center;
  color: #fff;
  justify-content: center;
  text-align: center;
}

.psycho-explanation{
  height: 50vh;
  justify-content: center;
}

.psycho-explanation h1, .psycho-explanation p{
  padding-bottom: 5vh;
  text-align: center;
}

.testimony{
  height: 50vh;
  background: #FFD54F;
  text-align: center;
}

/* Fim da página apoio psicológico */ 

/* Início página Contato */
.remove-padding {
  padding: 0;
}

#remove-margin {
  margin-left: 0;
  margin-right: 0;
}

.contact-bg {
  background-color: #4FB3BF;
  height: 250px;
  color: #FFF;
  font-size: 4em;
  font-weight: bold;
  width: 100%;
}

.contact-email {
  color: #005662;
  font-weight: bold;
}

.contact-email:hover, .contact-email:focus {
  text-decoration: none;
  color: #005662;
}

.different-form-border {
  border: 3px dashed #4FB3BF;
}

label {
  font-weight: bold;
}

.questions-title-bg {
  background-color: #005662;
  height: 150px;
  color: #FFF;
  font-size: 3em;
  font-weight: bold;
  width: 100%;
}

.questions-bg {
  background-color: #EBF0F7;
}

.questions-subject {
  color: #4FB3BF;
}

.plus-sign {
  width: 20px;
}

.questions-color {
  color: #47525E;
}

/* Fim página Contato */
